<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin Address Form</title>
    
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <!-- Your custom CSS styles -->
    <style>
        /* Add your custom styles here */
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>

<div class="container">
    
    <form method="post" >
        {% csrf_token %}
        {{form}}
        <!-- Form inputs -->
        <!-- <div class="mb-3">
            <label for="bitcoin_address" class="form-label">Public address</label>
            <input type="text" class="form-control" id="public_address" name="public_address" required>
            <small class="form-text text-muted">Enter your address.</small>
        </div>
         -->

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Bootstrap JS scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
